.img-social-media {
  vertical-align: middle;
  width: 30px;
}

.rounded-0 {
  text-align: center;
}

.form-group {
  margin: 40px;
}

.card-body{
  background: #292b2c;
}

.img-login{
  width: 70px
}
